Timee/Service References/TimesheetService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LGBS.Timesheet.DataService.Alt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LGBS.Timesheet.DataService.Alt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlt_Project">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alt_Project" nillable="true" type="tns:Alt_Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlt_Project" nillable="true" type="tns:ArrayOfAlt_Project" />
  <xs:complexType name="Alt_Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanAddSubprojects" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanAddTasks" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsSubprojectRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectStatusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alt_Project" nillable="true" type="tns:Alt_Project" />
  <xs:complexType name="ArrayOfAlt_TimesheetRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alt_TimesheetRecord" nillable="true" type="tns:Alt_TimesheetRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlt_TimesheetRecord" nillable="true" type="tns:ArrayOfAlt_TimesheetRecord" />
  <xs:complexType name="Alt_TimesheetRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovalNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Delay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dirty" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hours" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsApproved" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCreative" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastReportMonthSold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthSold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartialApprovalNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayingCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatedMonthSold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subproject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Week" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alt_TimesheetRecord" nillable="true" type="tns:Alt_TimesheetRecord" />
</xs:schema>