Timee/Service References/TimesheetService/DataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_DataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="" location="https://timesheet.lgbs.pl/WS/DataService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_DataService" type="DataService">
    <wsp:PolicyReference URI="#CustomBinding_DataService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProjectTree">
      <soap12:operation soapAction="urn:DataService/GetProjectTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectsGridData">
      <soap12:operation soapAction="urn:DataService/UpdateProjectsGridData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateProject">
      <soap12:operation soapAction="urn:DataService/CreateProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModifyProjectTree">
      <soap12:operation soapAction="urn:DataService/ModifyProjectTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectObservers">
      <soap12:operation soapAction="urn:DataService/GetProjectObservers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectAccountObservers">
      <soap12:operation soapAction="urn:DataService/GetProjectAccountObservers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="urn:DataService/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap12:operation soapAction="urn:DataService/GetClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap12:operation soapAction="urn:DataService/DeleteClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateClient">
      <soap12:operation soapAction="urn:DataService/CreateClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap12:operation soapAction="urn:DataService/UpdateClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccountProjectNames">
      <soap12:operation soapAction="urn:DataService/GetAccountProjectNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountManagers">
      <soap12:operation soapAction="urn:DataService/GetAllAccountManagers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccountManagers">
      <soap12:operation soapAction="urn:DataService/GetAccountManagers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccountObservers">
      <soap12:operation soapAction="urn:DataService/GetAccountObservers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectAccount">
      <soap12:operation soapAction="urn:DataService/UpdateProjectAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteProjectAccount">
      <soap12:operation soapAction="urn:DataService/DeleteProjectAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDashboard">
      <soap12:operation soapAction="urn:DataService/GetDashboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSummary">
      <soap12:operation soapAction="urn:DataService/GetSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateGlobalConfirmationDates">
      <soap12:operation soapAction="urn:DataService/updateGlobalConfirmationDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getConfirmationDates">
      <soap12:operation soapAction="urn:DataService/getConfirmationDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PlanReportGeneration">
      <soap12:operation soapAction="urn:DataService/PlanReportGeneration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseLastMonth">
      <soap12:operation soapAction="urn:DataService/CloseLastMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ClosePreviousYear">
      <soap12:operation soapAction="urn:DataService/ClosePreviousYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTimesheetSettings">
      <soap12:operation soapAction="urn:DataService/UpdateTimesheetSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocations">
      <soap12:operation soapAction="urn:DataService/UpdateLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetSettings">
      <soap12:operation soapAction="urn:DataService/GetTimesheetSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHoursForTimesheeters">
      <soap12:operation soapAction="urn:DataService/GetHoursForTimesheeters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheeters">
      <soap12:operation soapAction="urn:DataService/GetTimesheeters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSoldHoursDifference">
      <soap12:operation soapAction="urn:DataService/GetSoldHoursDifference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSoldHoursMonths">
      <soap12:operation soapAction="urn:DataService/GetSoldHoursMonths" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCreativeWorksScopeRange">
      <soap12:operation soapAction="urn:DataService/GetCreativeWorksScopeRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCreativeWorksScopeMonth">
      <soap12:operation soapAction="urn:DataService/GetCreativeWorksScopeMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCreativeWork">
      <soap12:operation soapAction="urn:DataService/GetCreativeWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedCreativeWork">
      <soap12:operation soapAction="urn:DataService/GetUpdatedCreativeWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RefreshCreativeWork">
      <soap12:operation soapAction="urn:DataService/RefreshCreativeWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap12:operation soapAction="urn:DataService/UpdateComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCreativeWorkItem">
      <soap12:operation soapAction="urn:DataService/UpdateCreativeWorkItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsOfficeWorker">
      <soap12:operation soapAction="urn:DataService/IsOfficeWorker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateCreativeWorkRecords">
      <soap12:operation soapAction="urn:DataService/GenerateCreativeWorkRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLastMonth">
      <soap12:operation soapAction="urn:DataService/GetLastMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMonthsForCreativeWorksReport">
      <soap12:operation soapAction="urn:DataService/GetMonthsForCreativeWorksReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMonthsForPersonsCreativeWorksReport">
      <soap12:operation soapAction="urn:DataService/GetMonthsForPersonsCreativeWorksReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCreativeWork">
      <soap12:operation soapAction="urn:DataService/DeleteCreativeWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWeekSummary">
      <soap12:operation soapAction="urn:DataService/GetWeekSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWeekVisualization">
      <soap12:operation soapAction="urn:DataService/GetWeekVisualization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInconsistencies">
      <soap12:operation soapAction="urn:DataService/GetInconsistencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryOfInconsistencies">
      <soap12:operation soapAction="urn:DataService/GetSummaryOfInconsistencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetWithInconsistencies">
      <soap12:operation soapAction="urn:DataService/GetTimesheetWithInconsistencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsAdministrator">
      <soap12:operation soapAction="urn:DataService/IsAdministrator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectAccountStatusesData">
      <soap12:operation soapAction="urn:DataService/GetProjectAccountStatusesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectAccountStatusData">
      <soap12:operation soapAction="urn:DataService/GetProjectAccountStatusData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectAccountStatuses">
      <soap12:operation soapAction="urn:DataService/UpdateProjectAccountStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertContractTitle">
      <soap12:operation soapAction="urn:DataService/InsertContractTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteContractTitle">
      <soap12:operation soapAction="urn:DataService/DeleteContractTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateContractTitle">
      <soap12:operation soapAction="urn:DataService/UpdateContractTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContractTitleItemsForTitle">
      <soap12:operation soapAction="urn:DataService/GetContractTitleItemsForTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContractTitleItems">
      <soap12:operation soapAction="urn:DataService/GetContractTitleItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContractTitles">
      <soap12:operation soapAction="urn:DataService/GetContractTitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContractTitleStatuses">
      <soap12:operation soapAction="urn:DataService/GetContractTitleStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeInfo">
      <soap12:operation soapAction="urn:DataService/UpdateEmployeeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetSubprojectId">
      <soap12:operation soapAction="urn:DataService/Alt_GetSubprojectId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetAvailableTasks">
      <soap12:operation soapAction="urn:DataService/Alt_GetAvailableTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetAvailableSubprojects">
      <soap12:operation soapAction="urn:DataService/Alt_GetAvailableSubprojects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap12:operation soapAction="urn:DataService/GetLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTasks">
      <soap12:operation soapAction="urn:DataService/Alt_GetTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetProjects">
      <soap12:operation soapAction="urn:DataService/Alt_GetProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetRecord">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_DuplicateRecord">
      <soap12:operation soapAction="urn:DataService/Alt_DuplicateRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_SplitRecord">
      <soap12:operation soapAction="urn:DataService/Alt_SplitRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_InsertFromClipboard">
      <soap12:operation soapAction="urn:DataService/Alt_InsertFromClipboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_InsertRecords">
      <soap12:operation soapAction="urn:DataService/Alt_InsertRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ChangeSubproject">
      <soap12:operation soapAction="urn:DataService/Alt_ChangeSubproject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ChangeProject">
      <soap12:operation soapAction="urn:DataService/Alt_ChangeProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ChangeTask">
      <soap12:operation soapAction="urn:DataService/Alt_ChangeTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ChangeStatus">
      <soap12:operation soapAction="urn:DataService/Alt_ChangeStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_UpdateRecord">
      <soap12:operation soapAction="urn:DataService/Alt_UpdateRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetWithInconsistencies">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetWithInconsistencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetScopeRange">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetScopeRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetScopeIdRangeN">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetScopeIdRangeN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetScopeIdRange">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetScopeIdRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetScopeRangeN">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetScopeRangeN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetScopeCustomRange">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetScopeCustomRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetScopeIdCustomRange">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetScopeIdCustomRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetWithErrors">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetWithErrors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_GetTimesheetToCorrect">
      <soap12:operation soapAction="urn:DataService/Alt_GetTimesheetToCorrect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_DeleteRecords">
      <soap12:operation soapAction="urn:DataService/Alt_DeleteRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ChangeLocation">
      <soap12:operation soapAction="urn:DataService/Alt_ChangeLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ChangeCreativeStatus">
      <soap12:operation soapAction="urn:DataService/Alt_ChangeCreativeStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ChangeComment">
      <soap12:operation soapAction="urn:DataService/Alt_ChangeComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ChangePaymentStatus">
      <soap12:operation soapAction="urn:DataService/Alt_ChangePaymentStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_Redirect">
      <soap12:operation soapAction="urn:DataService/Alt_Redirect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ResendForApproval">
      <soap12:operation soapAction="urn:DataService/Alt_ResendForApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_ResendToEmployee">
      <soap12:operation soapAction="urn:DataService/Alt_ResendToEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Alt_Approve">
      <soap12:operation soapAction="urn:DataService/Alt_Approve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <soap12:operation soapAction="urn:DataService/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableContexts">
      <soap12:operation soapAction="urn:DataService/GetAvailableContexts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecentProjects">
      <soap12:operation soapAction="urn:DataService/GetRecentProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecentLocations">
      <soap12:operation soapAction="urn:DataService/GetRecentLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecentSubprojects">
      <soap12:operation soapAction="urn:DataService/GetRecentSubprojects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecentTasks">
      <soap12:operation soapAction="urn:DataService/GetRecentTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecentComments">
      <soap12:operation soapAction="urn:DataService/GetRecentComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetScopeRange">
      <soap12:operation soapAction="urn:DataService/GetTimesheetScopeRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetTest">
      <soap12:operation soapAction="urn:DataService/GetTimesheetTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetScopeIdRangeN">
      <soap12:operation soapAction="urn:DataService/GetTimesheetScopeIdRangeN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetScopeIdRange">
      <soap12:operation soapAction="urn:DataService/GetTimesheetScopeIdRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetScopeRangeN">
      <soap12:operation soapAction="urn:DataService/GetTimesheetScopeRangeN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetScopeCustomRange">
      <soap12:operation soapAction="urn:DataService/GetTimesheetScopeCustomRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetScopeIdCustomRange">
      <soap12:operation soapAction="urn:DataService/GetTimesheetScopeIdCustomRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetWithErrors">
      <soap12:operation soapAction="urn:DataService/GetTimesheetWithErrors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetToCorrect">
      <soap12:operation soapAction="urn:DataService/GetTimesheetToCorrect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPendingItemsCount">
      <soap12:operation soapAction="urn:DataService/GetPendingItemsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetForMyApprovalCount">
      <soap12:operation soapAction="urn:DataService/GetForMyApprovalCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCreativeStatuses">
      <soap12:operation soapAction="urn:DataService/GetCreativeStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <soap12:operation soapAction="urn:DataService/GetProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsInfo">
      <soap12:operation soapAction="urn:DataService/GetProjectsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap12:operation soapAction="urn:DataService/GetPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTimesheetPersons">
      <soap12:operation soapAction="urn:DataService/GetTimesheetPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimesheeters">
      <soap12:operation soapAction="urn:DataService/GetAllTimesheeters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSubprojects">
      <soap12:operation soapAction="urn:DataService/GetAvailableSubprojects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalStatuses">
      <soap12:operation soapAction="urn:DataService/GetApprovalStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLocationsWithCanBeDeleted">
      <soap12:operation soapAction="urn:DataService/GetLocationsWithCanBeDeleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStatuses">
      <soap12:operation soapAction="urn:DataService/GetStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIsSoldStatuses">
      <soap12:operation soapAction="urn:DataService/GetIsSoldStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap12:operation soapAction="urn:DataService/Approve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Paste">
      <soap12:operation soapAction="urn:DataService/Paste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateRows">
      <soap12:operation soapAction="urn:DataService/UpdateRows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateRow">
      <soap12:operation soapAction="urn:DataService/UpdateRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRow">
      <soap12:operation soapAction="urn:DataService/GetRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRows">
      <soap12:operation soapAction="urn:DataService/GetRows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <soap12:operation soapAction="urn:DataService/GetHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectHistory">
      <soap12:operation soapAction="urn:DataService/GetProjectHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SplitRows">
      <soap12:operation soapAction="urn:DataService/SplitRows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertRows">
      <soap12:operation soapAction="urn:DataService/InsertRows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteRows">
      <soap12:operation soapAction="urn:DataService/DeleteRows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTasks">
      <soap12:operation soapAction="urn:DataService/GetAvailableTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveTasksAssignment">
      <soap12:operation soapAction="urn:DataService/RemoveTasksAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveSubprojectsAssignment">
      <soap12:operation soapAction="urn:DataService/RemoveSubprojectsAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveSubprojects">
      <soap12:operation soapAction="urn:DataService/RemoveSubprojects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalManagers">
      <soap12:operation soapAction="urn:DataService/GetGlobalManagers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllButGlobalManagers">
      <soap12:operation soapAction="urn:DataService/GetAllButGlobalManagers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveGlobalManager">
      <soap12:operation soapAction="urn:DataService/RemoveGlobalManager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveProjectAccountObserver">
      <soap12:operation soapAction="urn:DataService/RemoveProjectAccountObserver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddProjectAccountObservator">
      <soap12:operation soapAction="urn:DataService/AddProjectAccountObservator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddGlobalManager">
      <soap12:operation soapAction="urn:DataService/AddGlobalManager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectStatuses">
      <soap12:operation soapAction="urn:DataService/GetProjectStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectAccounts">
      <soap12:operation soapAction="urn:DataService/GetProjectAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectAccountsInfo">
      <soap12:operation soapAction="urn:DataService/GetProjectAccountsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProjectAccount">
      <soap12:operation soapAction="urn:DataService/GetProjectAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap12:operation soapAction="urn:DataService/DeleteProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetActualHours">
      <soap12:operation soapAction="urn:DataService/GetActualHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StandardFaultFault">
        <soap12:fault use="literal" name="StandardFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="CustomBinding_DataService" binding="tns:CustomBinding_DataService">
      <soap12:address location="https://timesheet.lgbs.pl/WS/DataService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://timesheet.lgbs.pl/WS/DataService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TimesheetService@LGBSPL.LGBS</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>